#Postman files
environments/*.postman_environment.json  
collections/*.postman_collection.json  

# Node.js
node_modules/
npm-debug.log  

/reports  

# data  
*.env  
*.key  

# OS
.DS_Store	
Thumbs.db	

# Logs
logs/
*.log	